html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-size: 26px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
* {
  box-sizing: border-box;
}

div.text {
  position: relative;
  margin: 40px;
  max-width: 730px;
}

div.text .tiny {
  font-size: 0.6em;
  margin-top: 10px;
}

div.image {
  position: relative;
  margin: 40px;

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

div.image > div:not(.image-label) {
  position: relative;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100px;
}

.image-label {
  position: absolute; 
  right: 5px; 
  bottom: 5px; 
  background-color: white; 
  padding: 2px; 
  font-size: 12px; 
  height: min-content; 
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

/* div.image > div::before {
  content: 'loading';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
  font-size: 0.6em;
  pointer-events: none;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

div.image > div.loaded::before {
  opacity: 0;
} */

div.image > div > img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
}

.clickable {
  position: relative;
  cursor: pointer;
}
.clickable::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
  animation: hue-rotate 6s infinite linear;
}
.clickable.legend::after {
  top: 12px;
  right: -16px;
}

@keyframes hue-rotate {
  0% { background-color: hsl(0, 100%, 50%); }
  16.67% { background-color: hsl(60, 100%, 50%); }
  33.33% { background-color: hsl(120, 100%, 50%); }
  50% { background-color: hsl(180, 100%, 50%); }
  66.67% { background-color: hsl(240, 100%, 50%); }
  83.33% { background-color: hsl(300, 100%, 50%); }
  100% { background-color: hsl(360, 100%, 50%); }
}


div.image > * {
  flex: 1;
  width: 100%;
}

div.image.two > * {
  flex: 0.5;
}

div.image.three > * {
  flex: 0.333333333333;
}

div.image iframe {
  aspect-ratio: 16/9;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {

  div.image {
    gap: 10px;
    margin: 10px;
    flex-direction: column;
  }
  div.text {
    margin: 10px;
  }
}